---
export interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<section class="rationale-block popout">
  <h5 class="title">{title}</h5>
  <p>{content}</p>
</section>

<style>
  .rationale-block {
    text-align: left;
  }
  .rationale-block p,
  .rationale-block .title {
    font-size: 2rem;
    font-weight: 500;
    line-height: 125%;
  }

  .rationale-block .title {
    opacity: 0.5;
  }
</style>
