---
import Layout from "../layouts/Layout.astro";
import TextBlock from "../components/content/TextBlock.astro";
import RationaleBlock from "../components/content/RationaleBlock.astro";
import ImageBlock from "../components/content/ImageBlock.astro";
import VideoBlock from "../components/content/VideoBlock.astro";
import MultiColBlock from "../components/content/MultiColBlock.astro";
import TestimonialBlock from "../components/content/TestimonialBlock.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="page-layout">
    <pre>RationaleBlock.astro</pre>
    <RationaleBlock
      title="The question"
      content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel id cumque ratione, quisquam unde commodi error. "
    />
    <pre>ImageBlock.astro</pre>
    <ImageBlock
      image="https://visobs.co/upload/reading-room-new-reader-4ba364.jpg"
      caption="Full screen image"
      alt="Nice alt text for SEO and screenreaders"
      size="full"
    />
    <pre>TextBlock.astro</pre>
    <TextBlock>
      <h3>Heading</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde,
        consequatur corrupti in quod nesciunt inventore harum quo minus repellat
        illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!
      </p>
      <h4>Subheading</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde,
        consequatur corrupti in quod nesciunt inventore harum quo minus repellat
        illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!
      </p>
    </TextBlock>
    <pre>ImageBlock.astro</pre>
    <ImageBlock
      image="https://lab.pangrampangram.com/experiments/image-gallery/images/6.png"
      caption="Description of the image"
      alt="A very nice alt text"
      size="page"
    />
    <pre>RationaleBlock.astro</pre>
    <RationaleBlock
      title="The question"
      content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel id cumque ratione, quisquam unde commodi error. "
    />
    <pre>VideoBlock.astro</pre>
    <VideoBlock
      title="For Bigger Joyrides"
      description="Introducing Chromecast. The easiest way to enjoy online video and music on your TV—for the times that call for bigger joyrides. For $35. Learn how to use Chromecast with YouTube and more at google.com/chromecast."
      sources={[
        "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerJoyrides.mp4",
      ]}
      subtitle="By Google"
      thumb="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/images/ForBiggerJoyrides.jpg"
      size="full"
    />
    <pre>MultiColBlock.astro</pre>
    <MultiColBlock
      columns={[
        {
          _type: "textBlock",
          content:
            "<h3>Heading</h3><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde, consequatur corrupti in quod nesciunt inventore harum quo minus repellat illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!</p>",
        },

        {
          _type: "imageBlock",
          image:
            "https://payload.cargocollective.com/1/0/31246/14507165/238_1000.jpg",
          alt: "Een voorbeeldafbeelding",
          size: "full",
          caption: "Een mooie afbeelding",
        },
        {
          _type: "videoBlock",
          title: "Voorbeeldvideo",
          description: "Dit is een voorbeeld van een video.",
          sources: [
            "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerJoyrides.mp4",
          ],
          size: "inline",
          thumb:
            "http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/images/ForBiggerJoyrides.jpg",
        },
      ]}
    />
    <pre>TestimonialBlock.astro</pre>
    <TestimonialBlock
      quote="‘I’m excited about this video diary. By replacing the diary with a camera, young people can easily imagine themselves in that situation back then, when Anne Frank lived. The idea took some getting used to, but I think it’s good that Anne Frank’s story has been transferred to modern times.’"
      name="Jacqueline van Maarsen"
      role="Anne Frank’s now 91-year-old friend"
      company=""
    />
  </div>
</Layout>
