---
import Layout from "../layouts/Layout.astro";
import ProjectHero from "../components/page/ProjectHero.astro";
import TextBlock from "../components/content/TextBlock.astro";
import RationaleBlock from "../components/content/RationaleBlock.astro";
import ImageBlock from "../components/content/ImageBlock.astro";
import VideoBlock from "../components/content/VideoBlock.astro";
import MultiColBlock from "../components/content/MultiColBlock.astro";
import TestimonialBlock from "../components/content/TestimonialBlock.astro";
import EmbedBlock from "../components/content/EmbedBlock-ifm.astro";
import MediaGallery from "../components/content/MediaGallery.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="page-layout">
    <ProjectHero
      title="Random Project"
      intro="Lorem ipsum dolor sit amet consectetur. Bibendum nam aliquet mauris tellus justo mi malesuada dictum pulvinar. Habitant nulla magna rutrum purus cras arcu scelerisque purus. Integer augue massa odio vulputate leo justo."
      body="Lorem ipsum dolor sit amet consectetur. Tellus neque blandit et ut. Pharetra varius adipiscing mattis odio. Sem dapibus ornare hendrerit amet auctor eu. Elit est maecenas vel fermentum. Lectus fermentum molestie commodo elementum. Urna est dui magna commodo sed commodo sed aliquet sagittis. "
      media={{
        type: "video",
        props: {
          title: "Anne Frank Diary",
          description: "A video diary following Anne Frank's story.",
          sources: [
            "https://test-videos.co.uk/vids/jellyfish/mp4/h265/1080/Jellyfish_1080_10s_10MB.mp4",
            "https://test-videos.co.uk/vids/jellyfish/mp4/h264/720/Jellyfish_720_10s_2MB.mp4",
          ],
          thumb:
            "https://u4d2z7k9.rocketcdn.me/wp-content/uploads/2024/10/Untitled-design-15-1.jpg.webp",
        },
      }}
    />

    <!-- <ProjectHero
      title="Video diaries of Anne Frank"
      intro="The Anne Frank video diary can be seen on YouTube in fifteen episodes. Luna Cruz Perez plays Anne Frank, sharing her life in the Secret Annex, her thoughts and her feelings with the camera. "
      body="Anne Frank video diary follows Anne Frank from 29 March 1944 onwards. She is 14 years old and has been living in hiding for over a year and a half, together with her parents Otto and Edith, sister Margot, Auguste and Hermann van Pels, their son Peter, and Fritz Pfeffer. Anne films herself and the events in the Secret Annex, looks back on the time before they went into hiding, talks about the war, and shares her deepest thoughts and feelings. The video diary ends on 4 August 1944, when Anne and the seven other people from the Secret Annex, as well as two of their non-Jewish helpers, are arrested."
      media={{
        type: "image",
        props: {
          src: "https://visobs.co/upload/reading-room-new-reader-4ba364.jpg",
          alt: "Descriptive alt text for the image",
        },
      }}
    /> -->
    <pre>RationaleBlock.astro</pre>
    <RationaleBlock
      title="The question"
      content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel id cumque ratione, quisquam unde commodi error. "
    />
    <pre>ImageBlock.astro</pre>
    <ImageBlock
      src="https://visobs.co/upload/reading-room-new-reader-4ba364.jpg"
      caption="Full screen image"
      alt="Nice alt text for SEO and screenreaders"
      size="full"
    />
    <pre>TextBlock.astro</pre>
    <TextBlock>
      <h3>Heading</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde,
        consequatur corrupti in quod nesciunt inventore harum quo minus repellat
        illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!
      </p>
      <h4>Subheading</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde,
        consequatur corrupti in quod nesciunt inventore harum quo minus repellat
        illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!
      </p>
    </TextBlock>
    <pre>ImageBlock.astro</pre>
    <ImageBlock
      src="https://lab.pangrampangram.com/experiments/image-gallery/images/6.png"
      caption="Description of the image"
      alt="A very nice alt text"
      size="page"
    />
    <pre>TextBlock.astro</pre>
    <TextBlock>
      <h3>Heading</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde,
        consequatur corrupti in quod nesciunt inventore harum quo minus repellat
        illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!
      </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde,
        consequatur corrupti in quod nesciunt inventore harum quo minus repellat
        illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!
      </p>
    </TextBlock>
    <pre>RationaleBlock.astro</pre>
    <RationaleBlock
      title="The question"
      content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel id cumque ratione, quisquam unde commodi error. "
    />
    <pre>VideoBlock.astro</pre>
    <VideoBlock
      title="Title of this video"
      description="Introducing Chromecast. The easiest way to enjoy online video and music on your TV—for the times that call for bigger joyrides. For $35. Learn how to use Chromecast with YouTube and more at google.com/chromecast."
      sources={[
        "https://test-videos.co.uk/vids/jellyfish/mp4/h265/1080/Jellyfish_1080_10s_5MB.mp4",
        "https://test-videos.co.uk/vids/jellyfish/mp4/h264/720/Jellyfish_720_10s_2MB.mp4",
      ]}
      subtitle="By Google"
      thumb="https://visobs.co/upload/stefan-georgi-nyc-2014-926d1f.jpg"
      size="full"
    />
    <pre>TextBlock.astro</pre>
    <TextBlock>
      <h3>Heading</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde,
        consequatur corrupti in quod nesciunt inventore harum quo minus repellat
        illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!
      </p>
      <h4>Subheading</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde,
        consequatur corrupti in quod nesciunt inventore harum quo minus repellat
        illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!
      </p>
    </TextBlock>
    <pre>MultiColBlock.astro</pre>
    <MultiColBlock
      columns={[
        {
          _type: "videoBlock",
          title: "Voorbeeldvideo",
          description: "Dit is een voorbeeld van een video.",
          sources: [
            "https://test-videos.co.uk/vids/jellyfish/mp4/h265/1080/Jellyfish_1080_10s_5MB.mp4",
            "https://test-videos.co.uk/vids/jellyfish/mp4/h264/720/Jellyfish_720_10s_2MB.mp4",
          ],
          size: "inline",
          thumb: "https://visobs.co/upload/stefan-georgi-nyc-2014-926d1f.jpg",
          showCaption: false,
        },
        {
          _type: "videoBlock",
          title: "Voorbeeldvideo",
          description: "Dit is een voorbeeld van een video.",
          sources: [
            "https://test-videos.co.uk/vids/jellyfish/mp4/h265/1080/Jellyfish_1080_10s_5MB.mp4",
            "https://test-videos.co.uk/vids/jellyfish/mp4/h264/720/Jellyfish_720_10s_2MB.mp4",
          ],
          size: "inline",
          thumb: "https://visobs.co/upload/stefan-georgi-nyc-2014-926d1f.jpg",
          showCaption: false,
        },
      ]}
    />
    <pre>TextBlock.astro</pre>
    <TextBlock>
      <h3>Heading</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde,
        consequatur corrupti in quod nesciunt inventore harum quo minus repellat
        illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!
      </p>
      <h4>Subheading</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde,
        consequatur corrupti in quod nesciunt inventore harum quo minus repellat
        illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!
      </p>
    </TextBlock>

    <MultiColBlock
      columns={[
        {
          _type: "imageBlock",
          src: "https://payload.cargocollective.com/1/0/31246/14507165/238_1000.jpg",
          alt: "Een voorbeeldafbeelding",
          size: "full",
          caption: "Een mooie afbeelding",
        },
        {
          _type: "imageBlock",
          src: "https://payload.cargocollective.com/1/0/31246/14507165/238_1000.jpg",
          alt: "Een voorbeeldafbeelding",
          size: "full",
          caption: "Een mooie afbeelding",
        },
        {
          _type: "imageBlock",
          src: "https://payload.cargocollective.com/1/0/31246/14507165/238_1000.jpg",
          alt: "Een voorbeeldafbeelding",
          size: "full",
          caption: "Een mooie afbeelding",
        },
      ]}
    />
    <pre>MultiColBlock.astro</pre>
    <MultiColBlock
      size="feature"
      columns={[
        {
          _type: "textBlock",
          content:
            "<h4>Heading</h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde, consequatur corrupti in quod nesciunt inventore harum quo minus repellat illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!</p>",
        },
        {
          _type: "textBlock",
          content:
            "<h4>Heading</h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde, consequatur corrupti in quod nesciunt inventore harum quo minus repellat illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!</p>",
        },
        {
          _type: "textBlock",
          content:
            "<h4>Heading</h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis unde, consequatur corrupti in quod nesciunt inventore harum quo minus repellat illo nobis nostrum deserunt atque maiores obcaecati natus, eum earum!</p>",
        },
      ]}
    />
    <pre>TestimonialBlock.astro</pre>
    <TestimonialBlock
      quote="‘I’m excited about this video diary. By replacing the diary with a camera, young people can easily imagine themselves in that situation back then, when Anne Frank lived. The idea took some getting used to, but I think it’s good that Anne Frank’s story has been transferred to modern times.’"
      name="Jacqueline van Maarsen"
      role="Anne Frank’s now 91-year-old friend"
      company=""
    />

    <EmbedBlock
      service="youtube"
      id="oYxohKbeMZw"
      title="Headspace / Bent' Benjamin Earl Turner"
      params="autoplay=1&mute=1"
      thumbnail="https://directorslibrary.com/wp-content/uploads/2024/02/HeadspaceBent-Benjamin-Earl-Turner-1.png"
      ratio="16:9"
      autoscale={true}
      widget={false}
      size="feature"
    />

    <EmbedBlock service="youtube" id="oYxohKbeMZw" size="full" />

    <EmbedBlock
      service="vimeo"
      id="857258584"
      title="Headspace / Bent' Benjamin Earl Turner"
      size="inline"
      ratio="16:9"
    />

    <EmbedBlock
      service="vimeo"
      id="857258584"
      title="Headspace / Bent' Benjamin Earl Turner"
      params="autoplay=1&mute=1&loop=1"
      thumbnail="https://directorslibrary.com/wp-content/uploads/2024/02/HeadspaceBent-Benjamin-Earl-Turner-1.png"
      ratio="16:9"
      autoscale={true}
      widget={false}
      size="page"
    />

    <MediaGallery
      type="grid"
      items={[
        {
          type: "image",
          src: "https://lab.pangrampangram.com/experiments/image-gallery/images/6.png",
          alt: "Image 1",
          title: "Image 1",
        },
        {
          type: "video",
          sources: [
            "https://test-videos.co.uk/vids/jellyfish/mp4/h264/720/Jellyfish_720_10s_2MB.mp4",
          ],
          title: "Video 1",
          description: "Description of Video 1",
          subtitle: "Subtitle of Video 1",
          thumb:
            "https://u4d2z7k9.rocketcdn.me/wp-content/uploads/2024/10/Untitled-design-15-1.jpg.webp",
          size: "inline",
          showCaption: true,
        },
        {
          type: "embed",
          service: "youtube",
          id: "oYxohKbeMZw",
          title: "YouTube Video",
          params: "autoplay=1&mute=1",
          thumbnail:
            "https://directorslibrary.com/wp-content/uploads/2024/02/HeadspaceBent-Benjamin-Earl-Turner-1.png",
          ratio: "16:9",
          autoscale: true,
          widget: false,
        },
        {
          type: "embed",
          service: "vimeo",
          id: "857258584",
          title: "Vimeo Video",
          params: "autoplay=1&loop=1",
          thumbnail:
            "https://directorslibrary.com/wp-content/uploads/2024/02/HeadspaceBent-Benjamin-Earl-Turner-1.png",
          ratio: "16:9",
          autoscale: true,
          widget: false,
        },
      ]}
    />

    <MediaGallery
      type="carousel"
      items={[
        {
          type: "image",
          src: "https://lab.pangrampangram.com/experiments/image-gallery/images/6.png",
          alt: "Image 1",
          title: "Image 1",
        },
        {
          type: "video",
          sources: [
            "https://test-videos.co.uk/vids/jellyfish/mp4/h264/720/Jellyfish_720_10s_2MB.mp4",
          ],
          title: "Video 1",
          description: "Description of Video 1",
          subtitle: "Subtitle of Video 1",
          thumb:
            "https://images.takeshape.io/86ce9525-f5f2-4e97-81ba-54e8ce933da7/dev/26dddb6f-8270-4302-b9b3-0f2a3f911157/Pacific%20sea%20nettle%20jellyfish%20dreamstime.jpeg",
          size: "inline",
          showCaption: true,
        },
        {
          type: "embed",
          service: "youtube",
          id: "oYxohKbeMZw",
          title: "YouTube Video",
          // params: "autoplay=1&mute=1",
          thumbnail:
            "https://directorslibrary.com/wp-content/uploads/2024/02/HeadspaceBent-Benjamin-Earl-Turner-1.png",
          ratio: "16:9",
          autoscale: true,
          widget: false,
        },
        {
          type: "embed",
          service: "vimeo",
          id: "857258584",
          title: "Vimeo Video",
          params: "autoplay=1&loop=1",
          thumbnail:
            "https://directorslibrary.com/wp-content/uploads/2024/02/HeadspaceBent-Benjamin-Earl-Turner-1.png",
          ratio: "16:9",
          autoscale: true,
          widget: false,
        },
      ]}
    />
  </div>
</Layout>
