---
import "../assets/scss/globals.scss";
import "../assets/default.css";
import SiteMeta from "../components/SiteMeta.astro";
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";

const {
  title = "Title",
  description = "Description",
  url,
  image = "/social-preview-image.png",
  author = "Author",
} = Astro.props;
---

<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(" ", "-")}`
        : `https://accessible-astro.dev/${title
            .toLowerCase()
            .replaceAll(" ", "-")}`}
      image={image}
      author={author}
    />
  </head>
  <body>
    <slot />
    <style>
      html,
      body {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    </style>
  </body>
</html>
